<div class="mars-background">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://pbs.twimg.com/profile_images/898550622428905473/t6KXRKST_400x400.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
      CG Rover
    </a>
  </nav>
  <div class="container container-large-margin">
    <div class="row row-medium-margin">
      <div class="col-sm-8 offset-sm-2">
        <app-rover-input (cellChangeEvent)="updateRoverGrid($event)"></app-rover-input>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-small-margin">
      <div class="col-sm-12 offset-sm-2">
          <ng-container *ngFor="let row of cells; let i = index">
            <div class="clearfix">
              <app-rover-grid *ngFor="let col of row; let j = index" [direction]="col"></app-rover-grid><br>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
